In [1]:
import pandas as pd
df = pd.read_csv('C:/Stock_website-MiniProject1-Develop-Version-/data/상장법인목록.csv')
df

     tickers cooperation
0     060310          3S
1     095570      AJ네트웍스
2     006840       AK홀딩스
3     054620      APS홀딩스
4     265520       AP시스템
...      ...         ...
2692  000547     흥국화재2우B
2693  000545       흥국화재우
2694  003280        흥아해운
2695  037440          희림
2696  238490          힘스

[2697 rows x 2 columns]

In [3]:
from datetime import datetime, timedelta
from pykrx import stock
now = datetime.today()
end_day = datetime(now.year, now.month, now.day)
start_day = end_day - timedelta(days = 365)
df = stock.get_market_ohlcv(start_day.strftime('%Y%m%d'), end_day.strftime('%Y%m%d'), '005930')

In [8]:
import os
base_df = pd.read_csv(os.path.join('data', '상장법인목록.csv'))
stock_name = '삼성전자'
code = base_df.loc[base_df['cooperation'] == stock_name].iloc[0,0]

In [16]:
stock.get_market_ohlcv(start_day.strftime('%Y%m%d'), end_day.strftime('%Y%m%d'), '1001')

Empty DataFrame
Columns: []
Index: []

In [20]:
stock.get_market_fundamental("20210104", end_day.strftime('%Y%m%d'), "005930")

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2021-01-04  37528  26.22  2.21  3166  1.71  1416
2021-01-05  37528  26.50  2.24  3166  1.69  1416
2021-01-06  37528  25.96  2.19  3166  1.72  1416
2021-01-07  37528  26.18  2.21  3166  1.71  1416
2021-01-08  37528  28.05  2.37  3166  1.59  1416
...           ...    ...   ...   ...   ...   ...
2023-01-31  43611  10.56  1.40  5777  2.37  1444
2023-02-01  43611  10.70  1.42  5777  2.34  1444
2023-02-02  43611  10.99  1.46  5777  2.27  1444
2023-02-03  43611  11.04  1.46  5777  2.26  1444
2023-02-06  43611  10.66  1.41  5777  2.34  1444

[518 rows x 6 columns]

In [25]:
st.bar_chart(stock.get_market_trading_volume_by_date("20210115", end_day.strftime('%Y%m%d'), "005930").sum())

기관합계    -246227871
기타법인      14802670
개인       533488159
외국인합계   -302062958
전체               0
dtype: int64

In [26]:
stock.get_market_trading_volume_by_date(end_day - timedelta(days = 1), end_day, code)

               기관합계   기타법인       개인    외국인합계  전체
날짜
2023-02-06 -1768399  60411  3968601 -2260613   0

In [33]:
pd.DataFrame(stock.get_market_trading_volume_by_date("20210115", end_day.strftime('%Y%m%d'), "005930").sum()).reset_index()

   index          0
0   기관합계 -246227871
1   기타법인   14802670
2     개인  533488159
3  외국인합계 -302062958
4     전체          0

In [35]:
stock.get_market_trading_volume_by_date("20210115", "20210122", "005930", on='매도')
stock.get_market_trading_volume_by_date("20210115", "20210122", "005930", on='매수')

                기관합계    기타법인        개인    외국인합계        전체
날짜
2021-01-15  11938635  505485  17856967  3130722  33431809
2021-01-18  16214925  520700  22093481  4398845  43227951
2021-01-19  15051839  289359  18911833  5642013  39895044
2021-01-20   8963872  376749  12264129  3606377  25211127
2021-01-21   9381282  151903  12605267  3179559  25318011
2021-01-22   7448408  200675  19121070  4091508  30861661

In [52]:
pd.DataFrame(stock.get_market_trading_volume_by_date("20210115", "20210122", "005930", on='매수'))

                기관합계    기타법인        개인    외국인합계        전체
날짜
2021-01-15  11938635  505485  17856967  3130722  33431809
2021-01-18  16214925  520700  22093481  4398845  43227951
2021-01-19  15051839  289359  18911833  5642013  39895044
2021-01-20   8963872  376749  12264129  3606377  25211127
2021-01-21   9381282  151903  12605267  3179559  25318011
2021-01-22   7448408  200675  19121070  4091508  30861661